@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, 'Raleway', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bg-color-one {
  background-color: #ff99ec;
}

.bg-color-two {
  background-color: #c6ff00;
}

.bg-alpha-color-one {
  background-color: rgba(255, 153, 236, 0.3);
}

.bg-alpha-color-two {
  background-color: rgba(198, 255, 0, 0.3);
}

.mi-estilo-nav {
  width: 100% !important;
  display: flex !important;
  justify-content: flex-end !important;
}

.mi-estilo-nav li {
  margin: 0rem .65rem;
}

.mi-estilo-nav li a {
  font-weight: 500;
  font-size: 1rem;
  transition: 200ms ease-out;
}

.mi-estilo-nav li a:hover {
  transform: scale(1.15);
}

.mi-estilo-logo {
  transition: 200ms ease-out;
}

.mi-estilo-logo:hover {
  transform: scale(1.15);
}

.mi-estilo-itemcount {
  background-color: rgba(255, 153, 236, 0.3);
  min-height: 100px;
  max-width: 250px;
  padding: 5px;
  border-radius: 1rem;
  display: grid;
  justify-items: center;
  align-items: center;
  align-content: center;
}
